.livemobilenavbar{display:none;}
.scheduleBG {
  width: 100vw;
  height: 120vh;
  display: flex;
  background-color: #ececee;
  flex-direction: column;
  overflow: scroll;
}
.outerScreen{display:flex;}
.scheduleLeft {
  height: 120vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.day{
  font-weight: 700;
  font-size: 50px;
  text-align: center;
}
.innerSchedule {
  margin: auto;
  width: 95%;
  height: 100%;
  background-color: #323B4B;
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.scheduleSec1 {
  color: white;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  width: 33.33333%;
  background-color: #2D175F;
}

.scheduleSec2 {
  color: white;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #3C4555;
  width: 33.33333%;
  background-color: #3C246E;
}

.scheduleSec3 {
  color: white;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #444D5D;
  border-radius: 0px 10px 10px 0px;
  width: 33.33333%;
  background-color: #493082;
}

.scheduleHeaders {
  color: white;
  text-align: center;
  letter-spacing: 4px;
  font-size: 28px;
  font-weight: 500;
}

.scheduleSection{
  text-align: center;
  width: 100%;
}

.innerLeftSchedule {
  font-weight: 350;
  font-size: 16px;
  float: left;
}

.innerRightSchedule {
  float: right;
  color: #FCD139;
  padding-top: 1%;
}

.scheduleLoc {
  float: left;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  width: 100%;
}

.scheduleSlot {
  padding-top: 80px;
  margin: auto;
}

@media screen and (max-width: 414px){
  .livemobilenavbar{display:block;}
  .scheduleLeft {
    width: 100vw;
  }
  .removeMobile {
    display: none;
  }
  .scheduleBG {
    display: flex;
    padding-top: 10%;
  }
  .innerSchedule {
    height: 100%;
    background-color: transparent;
  }
  .scheduleSec1, .scheduleSec2, .scheduleSec3 {
    margin: auto;
    background-color: transparent;
  }
  .scheduleSec1 {
    margin-top: 5%;
  }
  .scheduleSec3 {
    margin-bottom: 5%;
  }
  .scheduleSlot {
    width: 85vw;
  }
  .mobileSeparate {
    width: 100vw;
    border: 1px solid white;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
