.noMarginSponsor, .noMarginVolunteer {
    margin-left: 0;
    margin-right: 0;
    display: block;
  }
  
  .noPaddingSponsor {
    padding-left: 0;
    padding-right: 0;
  }
  .noPaddingSponsor, .noPaddingVolunteer {
    padding-left: 0;
    padding-right: 0;
  }
  
  .footer {
    width: 100vw;
    height: 22vh;
  }
  
  .footerWrap {
    display: flex;
    padding-top: 0.5%;
  }
  
  .footerIcon, .footerIcon2, .footerIcon3 {
    color: black !important;
    font-size: 1.75em;
    padding: 0;
  }
  
  .footerIcon {
    padding: 10px 20px 10px 20px;
  }
  
  .footerIcon2 {
    padding: 20px 20px 20px 0px;
  }
  
  .footerIcon3 {
    padding: 20px 0px 20px 20px;
  }
  
  .footerIcon:hover {
    color: white !important;
  }
  
  .footerIcon2:hover {
    color: white !important;
  }
  .footerIcon3:hover {
    color: white !important;
  }
  
  .footerText {
    color: black;
    font-size: 18px;
  }

  .beans {
    width: 35%;
    -webkit-transition: width 0.3s, height 0.3s;
    transition: width 0.3s, height 0.3s;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  .beans:hover {
    width: 37%;
  }
  
  .xyz {
    width: 35%;
    -webkit-transition: width 0.3s, height 0.3s;
    transition: width 0.3s, height 0.3s;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  .xyz:hover {
    width: 37%;
  }
  
  .gcap {
    width: 25%;
    -webkit-transition: width 0.3s, height 0.3s;
    transition: width 0.3s, height 0.3s;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  .gcap:hover {
    width: 27%;
  }
  
  .aspb {
    width: 50%;
    -webkit-transition: width 0.3s, height 0.3s;
    transition: width 0.3s, height 0.3s;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  .aspb:hover {
    width: 52%;
  }
  
  .blackstone {
    width: 70%;
    -webkit-transition: width 0.3s, height 0.3s;
    transition: width 0.3s, height 0.3s;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  .blackstone:hover {
    width: 72%;
  }
  
  .wolfram {
    width: 65%;
    -webkit-transition: width 0.3s, height 0.3s;
    transition: width 0.3s, height 0.3s;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  .wolfram:hover {
    width: 67%;
  }
  .acm {
    width: 45%;
    -webkit-transition: width 0.3s, height 0.3s;
     transition: width 0.3s, height 0.3s;
  }
  
  .acm:hover {
    width: 47%;
  }
  
  .ieee {
    padding-top: 2.5%;
    width: 20%;
    -webkit-transition: width 0.3s, height 0.3s;
     transition: width 0.3s, height 0.3s;
  }
  
  .ieee:hover {
    width: 24%;
  }  