.About__section {
  margin-top: 64px;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
}

.About__caption {
  padding-left: 5%;
}

.About__description{
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 5%;
  font-size: 35px;
}

.About__imageContainer {
  width: 100%;
}

#About__image {
  width: 100%;
  overflow-x: hidden;
}
