.caption {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 36px;
  color: #353b55;
}

.description {
  font-family: "Open Sans", sans-serif;
  color: #838798;
  font-size: 14px;
}