.caption {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 36px;
  color: #353b55;
}

.description {
  font-family: "Open Sans", sans-serif;
  color: #838798;
  font-size: 14px;
}
.beans {
  width: 35%;
  -webkit-transition: width 0.3s, height 0.3s;
  transition: width 0.3s, height 0.3s;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.beans:hover {
  width: 37%;
}

.xyz {
  width: 35%;
  -webkit-transition: width 0.3s, height 0.3s;
  transition: width 0.3s, height 0.3s;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.xyz:hover {
  width: 37%;
}

.gcap {
  width: 25%;
  -webkit-transition: width 0.3s, height 0.3s;
  transition: width 0.3s, height 0.3s;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.gcap:hover {
  width: 27%;
}

.aspb {
  width: 50%;
  -webkit-transition: width 0.3s, height 0.3s;
  transition: width 0.3s, height 0.3s;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.aspb:hover {
  width: 52%;
}

.blackstone {
  width: 70%;
  -webkit-transition: width 0.3s, height 0.3s;
  transition: width 0.3s, height 0.3s;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.blackstone:hover {
  width: 72%;
}

.wolfram {
  width: 65%;
  -webkit-transition: width 0.3s, height 0.3s;
  transition: width 0.3s, height 0.3s;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.wolfram:hover {
  width: 67%;
}
