.Footer__section {
  width: 100vw;
  height: 44vh;
  background-image: url("../assets/citrus-footer.svg");
  text-align: center;
}

.Footer__container {
  width: 100%;
  position: absolute;
  bottom: -228%;
}
