.App {
  width: 100vw;
  height: 100vh;
  padding: 8%;
  background-color: #272727;
}

.App__header-mini {
  color: white;
  margin: 0;
  font-size: 25px;
  font-weight: 300;
}

.App__header-main {
  font-size: 105px;
  font-weight: 700;
  color: #FE914D;
  padding-top: 4%;
}

.App__header-subMain {
  color: white;
  font-size: 35px;
  font-weight: 500;
  padding-top: 6%;
}

.App__button-subscribe {
  background-color: #FE914D;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  padding: 1.5%;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 1%;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  cursor: pointer;
}

.App__button-subscribe:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(254, 145, 77, 0.7);
}

.App__image {
  margin-left: 6%;
  width: 90%;
}

@media only screen and (max-width: 600px) {
  .App__header-mini {
    font-size: 20px;
  }

  .App__header-main {
    font-size: 80px;
  }

  .App__header-subMain {
    font-size: 20px;
  }

  .App__button-subscribe {
    margin-top: 4%;
  }

  .App__mobile-container {
    width: 100%;
    text-align: center;
  }

  .App__image {
    margin: auto;
    width: 50%;
  }
}
