.Sponsor__header {
  font-weight: 750;
  color: #373A56;
  font-size: 45px;
  text-align: center;
  width: 100%;
}

.Sponsor__container {
  text-align: center;
  margin-top: 2%;
}

.asucr {
  width: 25%;
}

.beans {
  width: 14%;
}

.blsp {
  width: 40%;
}

.wa {
  width: 30%;
}

.xyz{
  width: 12%;
}
