
/* .asucr{
    padding-left: 20%
}


  .blsp {
padding-left:20%
  }
  .xyz{
      padding-left: 40%;
     /* padding-right: 20%; */
      /* width: 60%;
  } */ 

  .beans {

    width: 25%;
    
    }

.xyz{
    width: 20%
}